.nav {
	padding: 0 14px;
	line-height: 40px;
	background: #393D49;
	transition: all .2s linear;
}
.nav:hover {
	color: #fff;
	background: #4caf50; 
}
.nav.wsplit {
	border-bottom: 1px solid #fff;
}
.nav.bsplit {
	border-bottom: 1px solid #23262E;
}
.nav a {
	color: #fff;
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

