body{background: #f9f9f9;}
.tao-msg, .tao-msg   div, .tao-msg span, .tao-msg img {
    box-sizing: border-box;
}

.tao-msg{width: 100%;position: relative;margin: 16px 0;}
.tao-msg .contain{width: 350px;height: 120px;padding: 5px;position: relative;background: #fff;border-radius: 8px;}
.tao-msg .msg-box{font-size: 0;width: 340px;height: 110px;position: relative;border-radius: 4px;background: #fff;overflow: hidden;}
.tao-msg .img{width: 110px;height: 110px;display: inline-block;vertical-align: top; }
.tao-msg .img img{width: 110px;height: 110px;}
.tao-msg .content{width: 230px;height: 110px;display: inline-block;font-size: 14px;vertical-align: top;padding: 0 5px;color: #333;}
.tao-msg .des{font-size: 14px;line-height: 20px;display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;}
.tao-msg .content .price-box {margin-top: 15px;font-size: 12px;}
.tao-msg .content .price-box .nowprice{color: #ED2A2A;}
.tao-msg .content .price-box .nowprice .now-big{font-size: 16px;}
.tao-msg .content .price-box .tmprice{color: #B1B1B1;}
.tao-msg .content .price-box .tmprice .tm-line{text-decoration: line-through;}
.tao-msg .content .link{display: block;width: 100%;height: 30px;background: url(img/hw_xq2_tz.png) no-repeat;background-size: 23px 23px;background-position: 180px 4px;}
@media only screen and (-webkit-min-device-pixel-ratio:2){
    .tao-msg .content .link {/* 高清显示屏(设备像素比例大于等于1.5)使用2倍图  */
        background: url(img/hw_xq2_tz@2x.png) no-repeat;background-size: 23px 23px;background-position: 180px 4px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio:3){
    .tao-msg .content .link {/* 高清显示屏(设备像素比例大于等于1.5)使用2倍图  */
        background: url(img/hw_xq2_tz@3x.png) no-repeat;background-size: 23px 23px;background-position: 180px 4px;
    }
}

.tao-msg .mask{position: absolute;top: 0px;left: 0px;bottom: 0px;right: 0px;}
.tao-msg .mask .edit, .tao-msg .mask .remove{position: absolute;top: 10px;left: 2px;background: rgb(240, 72, 72);width: 48px;height: 24px;box-shadow: 1px 1px 1px 0 #A19D9D;color: white;border-radius: 4px;font-size: 14px;line-height: 24px;text-align:center;cursor: pointer;display: none;}
.tao-msg .mask .remove {top: 36px;}
.tao-msg .mask:hover .edit, .tao-msg .mask:hover .remove{display: block;}


/*自定义引用*/
blockquote {
	background-color: #f5f5f5;
    margin: 0 0 26px;
}
blockquote p {
	font-size: 12px;
    color: #666;
    padding: 20px;
    line-height: 20px;
    margin-bottom: 0;
}
