/** 初始化 **/
/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form,pre {*/
    /*margin: 0; padding: 0; -webkit-tap-highlight-color:rgba(0,0,0,0)*/
/*}*/
/*body {*/
    /*line-height: 24px;font: 14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif;*/
    /*-webkit-font-feature-settings: 'kern' 1; -moz-font-feature-settings: 'kern' 1; -o-font-feature-settings: 'kern' 1; text-rendering: geometricPrecision;*/
/*}*/
/*a{color: #333; text-decoration:none; }*/
/*a:active,a:hover {outline:0}*/
/*a:hover{color: #fff;}*/
/*a cite{font-style: normal; *cursor:pointer;}*/
/*img {display: inline-block; border: none; vertical-align: middle;}*/
/*li {list-style:none;}*/
/*table {border-collapse: collapse; border-spacing: 0;}*/
/*h1,h2,h3 {font-size: 14px; font-weight: 400;}*/
/*h4, h5, h6{font-size: 100%; font-weight: 400;}*/
/*button,input,select,textarea{font-size: 100%; }*/
/*input,button,textarea,select,optgroup,option{font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0;}*/
/*pre{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}*/
.fl { float: left;}
.fr { float: right;}
.hide {display: none !important;}


/** 滚动条 **/
/*::-webkit-scrollbar{width: 5px; height: 10px;}*/
/*::-webkit-scrollbar-button:vertical{display: none;}*/
/*::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e2e2e2;}*/
/*::-webkit-scrollbar-thumb{border-radius: 0; background-color: rgba(0,0,0,.3);}*/
/*::-webkit-scrollbar-thumb:vertical:hover{background-color: rgba(0,0,0,.35);}*/
/*::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}*/

/*分页*/
.pagination {text-align: center;margin: 60px auto 0;font-size: 14px;}
.pagination a {text-decoration: none;border: 1px solid #d0d0d0;}
.pagination a, .pagination span {display: inline-block;padding: 7px 12px;margin-right: 12px;border-radius: 4px;}
.pagination a:hover, .pagination span:hover {background: #009688;color: #fff}
.pagination .current {background: #009688;color: #fff;border: 1px solid #009688;}
.pagination .current.prev, .pagination .current.next,.pagination a {color:#555;border-color:#ddd;background:#fff;}
#pagevalue {width: 28px;padding: 8px;position: relative;top: -1px;border: 1px solid #d0d0d0;border-radius: 4px;}