html,body {
    font-size: .24rem;
    color: #333;
    background: #fff;
}
.proto_title {
    font-size: .32rem;
    text-align: center;
    font-weight: bold;
    padding: .35rem 0 .3rem;
}
.proto_content {
    font-size: .24rem;
    padding: 0 .3rem;
    line-height: .42rem;
}
.proto_smTitle {
    margin-top: .45rem;
    padding-left: .3rem;
    font-size: .28rem;
    font-weight: bold;
}


